@model WebApplication3.Models.UserMenuModel

<nav class="navbar navbar-expand fixed-top navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Книги</a>
            </li>
        </ul>

        @if (Model.IsAuthorized)
        {
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Model.UserName
                </button>
                <div class="dropdown-menu dropdown-menu-right text-right">
                    <a class="dropdown-item" href="@Url.Action("Index","Reservation")">Зарезервовані книги : @Model.CountOfReservedBooks</a>
                    <a class="dropdown-item" href="@Url.Action("History", "Home")">Історія резервувань</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="@Url.Action("Logoff", "User")">Вихід</a>
                </div>
            </div>
        }
        else
        {
            <span class="navbar-text">
                <a class="btn btn-outline-success" href="@Url.Action("Login","User")">Вхід / Реєстрація</a>
            </span>
        }

    </div>

</nav>
