@model WebApplication3.Models.LoginModel

@{
    ViewBag.Title = "Вхід";
}

<div class="text-center">
    <h2>Вхід</h2>

        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <span class="text-danger">@Html.ValidationSummary()</span>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Name)
                </div>
                <span class="text-danger">@Html.ValidationMessageFor(model => model.Name)</span>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Password)
                </div>
                <span class="text-danger">@Html.ValidationMessageFor(model => model.Password)</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Увійти" class="btn btn-success" />
                <a class="btn btn-success" href="@Url.Action("Register", "User")"> Реєстрація</a>
            </div>         
        }
</div>